<body>
  <nav class="navbar navbar-ml-auto navbar-expand-sm navbar-light bg-light" role="navigation">
    <a class="navbar-brand" href="/home">Práctica</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link login-rigth" onclick="cerrarSesion()">Cerrar Sesión</a>
        </li>
      </ul>
      </div>
  </nav>
  <div class="container mt-5">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-4 col-xl-4 col-xxl-4 mb-3 mb-xl-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">LOREM</h5>
            <img src="https://via.placeholder.com/1920x1080" class="card-img-top" alt="...">
            <p class="card-text">Texto de ejemplo para la Card 1.</p>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4 col-xl-4 col-xxl-4 mb-3 mb-xl-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">LOREM</h5>
            <img src="https://via.placeholder.com/1920x1080" class="card-img-top" alt="...">
            <p class="card-text">Texto de ejemplo para la Card 2.</p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4 col-xl-4 col-xxl-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">LOREM</h5>
            <img src="https://via.placeholder.com/1920x1080" class="card-img-top" alt="...">
            <p class="card-text">Texto de ejemplo para la Card 3.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    Sitio Web creado por prueba 2022
 </footer>

</body>
